body {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page-container {
  flex-grow: 1;
  background-color: lightcoral;
  display: flex;
}

nav {
  height: 3rem;
  background-color: rgb(66, 135, 245);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
}

nav > h2 {
  margin: 0rem 1rem;
}

.left-sidenav {
  width: 15%;
  background-color: lightgreen;
}

.right-sidenav {
  width: 15%;
  background-color: grey;
}

main {
  background-color: indigo;
  flex-grow: 4.66;
}

@media screen and (max-width: 730px) {
  .right-sidenav {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .left-sidenav {
    display: none;
  }
}
