body {
  height: 100vh;
  margin: 0;
  /* margin reset for the body */
}

/* div {
  background-color: teal;
  height: 20%;
} */

#outer {
  background-color: teal;
  height: 40%;
  margin: 48px;
  border: 2px solid red;
}
