body {
  height: 100vh;
  margin: 0;
  /* margin reset for the body */
}

/* div {
  background-color: teal;
  height: 20%;
} */

#outer {
  background-color: lightblue;
  height: 40%;
  margin: 48px;
  border-left: 20px solid blue;
}
